.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
a {
  border: 3px solid rgb(33, 8, 102);
  color: transparent;
  background-color: rgb(33, 8, 102);
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  padding: 30px 50px;
  position: relative;
  overflow: hidden;
  transition: all 0.7s ease;
}

a::before {
  content: "Hover Me";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: black;
  background-color: rgb(247, 239, 134);
  transform: translate(0, 0);
  transition: transform 0.7s ease;
}

a::after {
  content: "Hover Me";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #000;
  background-color: rgb(247, 239, 134);
  transition: transform 0.7s ease;
  transform: translate(-100%, 100%);
  transform-origin: bottom left;
}

a:hover::before {
  transform: translate(100%, -100%);
  transition: transform 0.7s ease;
}

a:hover::after {
  transform: translate(0, 0);
  transition: transform 0.7s ease;
}
