* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
a {
  color: #00aeff;
  border: 2px solid #00aeff;
  font-size: 32px;
  letter-spacing: 0.5em;
  font-weight: 500;
  padding: 15px 30px;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
  text-decoration: none;
}

.wave {
  position: absolute;
  top: calc(100% + 22px);
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00aeff;
  transition: all 1s;
}

.wave::before {
  content: "";
  position: absolute;
  top: -22px;
  left: 0;
  width: 100%;
  height: 22px;
  background: url(wave.png);
  animation: wavy 0.5s linear infinite;
}

@keyframes wavy {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 118px;
  }
}

a:hover {
  color: #fff;
}

a:hover .wave {
  top: 0;
  z-index: -1;
}
