* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  transition: all 0.5s;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333;
}
a {
  text-decoration: none;
  border: 3px solid #fff;
  color: #fff;
  font-size: 28px;
  letter-spacing: 2px;
  padding: 30px;
  transition: all 0.1s;
}
a:hover {
  color: brown;
  border-color: brown;
  animation: btnRotate 0.5s linear both alternate 1;
}
@keyframes btnRotate {
  0% {
    transform: rotate(15deg);
  }
  25% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0);
  }
}
