* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  transition: all 0.5s;
}
body {
  background-color: #333;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
}

.slider {
  width: 900px;
  height: 400px;
  background-image: url("img-1.jpg");
  animation: slider 20s linear infinite;
}
@keyframes slider {
  0% {
    background-image: url("img-1.jpg");
  }
  25% {
    background-image: url("img-2.jpg");
  }
  50% {
    background-image: url("img-3.jpg");
  }
  75% {
    background-image: url("img-4.jpg");
  }
  100% {
    background-image: url("img-1.jpg");
  }
}
