* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  transition: all 0.5s;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  min-height: 100vh;
  margin: 0 auto;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu li {
  list-style: none;
}
.menu li a {
  text-decoration: none;
  padding: 5px 15px;
  font-size: 22px;
  color: #000;
  transition: all 0.5s;
  position: relative;
}
li a span {
  position: absolute;
  width: 25%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: -1;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.5s;
}
.menu li a:hover {
  color: #fff;
}
span:nth-child(2) {
  left: 25%;
  transition-delay: 0.15s;
}
span:nth-child(3) {
  left: 50%;
  transition-delay: 0.3s;
}
span:nth-child(4) {
  left: 75%;
  transition-delay: 0.45s;
}
a:hover span {
  transform: scaleY(1);
}
