* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  transition: all 0.5s;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  min-height: 100vh;
  margin: 0 auto;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu li {
  list-style: none;
}
.menu li a {
  text-decoration: none;
  padding: 5px 15px;
  font-size: 22px;
  color: #000;
  transition: all 0.5s;
  position: relative;
}

.menu li a:hover {
  background-color: rgb(252, 20, 78);
  color: #fff;
}
.menu li a::before,
.menu li a::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border: 3px solid rgb(252, 20, 78);
  opacity: 0;
  transition: all 0.5s;
}
.menu li a::before {
  bottom: 12px;
  left: 12px;
  border-width: 0 0 3px 3px;
}
.menu li a::after {
  top: 12px;
  right: 12px;
  border-width: 3px 3px 0 0;
}

.menu li a:hover::before {
  bottom: -8px;
  left: -8px;
  opacity: 1;
}
.menu li a:hover::after {
  top: -8px;
  right: -8px;
  opacity: 1;
}
