* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  transition: all 0.5s;
}
body {
  background-color: #81ca7b;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
}

h1 {
  color: #fff;
  font-size: 52px;
  line-height: 62px;
  text-shadow: 0px 30px 3px rgba(0, 0, 0, 0.1);
  transform: rotate(0deg);
  animation: move 3s infinite both alternate linear;
}

@keyframes move {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
