* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  transition: all 0.5s;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  min-height: 100vh;
  margin: 0 auto;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.menu li {
  list-style: none;
}
.menu li a {
  text-decoration: none;
  padding: 5px 0;
  font-size: 22px;
  color: #000;
  transition: all 0.5s;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
}
.menu li a::before,
.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 0;
  background-color: rgb(0, 110, 255);
  transition: all 0.5s;
}
.menu li a::before {
  left: 0;
  transform: translateX(100%);
}
.menu li a::after {
  background-color: rgb(0, 255, 98);
  right: 0;
  transform: translateX(-100%);
}
.menu li a:hover::before,
.menu li a:hover::after {
  width: 50%;
}
