* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  transition: all 0.5s;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}
h1 {
  font-size: 220px;
  color: transparent;
  background-image: url("image.jpg");
  text-align: center;
  -webkit-background-clip: text;
  animation: move 5s linear infinite;
}

@keyframes move {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}
